*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ////// STYLE //////// */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
    max-width: 1128px;
}

.gallery-image {
    width: 360px;
    height: 200px;
    transition: transform 250ms ease;
}
.gallery-image:hover {
    transform: scale(1.044);}